In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('sensitivity_runs/output_data/KS_mean_values.csv')
df.round(2).head()

,y,α_cp,ω,λ,κ_upper,prog,μ1,ϵ,p_f,ψ_P,ψ_Q,ψ_E
0,GDP_1st,0.14,0.03,0.03,0.30,0.03,0.03,0.03,0.24,0.03,0.03,0.03
1,GDP_2nd,0.09,0.05,0.25,0.09,0.03,0.04,0.08,0.10,0.03,0.02,0.05
2,GDP_3rd,0.16,0.03,0.08,0.07,0.03,0.05,0.03,0.25,0.03,0.03,0.04
3,GDP_4th,0.15,0.04,0.10,0.10,0.04,0.03,0.03,0.21,0.03,0.03,0.03
4,dQ_1st,0.11,0.03,0.03,0.42,0.03,0.04,0.04,0.09,0.03,0.03,0.05

In [8]:
print(df.round(2).to_latex(index=False))

\begin{tabular}{lrrrrrrrrrrr}
\toprule
         y &  α\_cp &    ω &    λ &  κ\_upper &  prog &   μ1 &    ϵ &  p\_f &  ψ\_P &  ψ\_Q &  ψ\_E \\
\midrule
   GDP\_1st &  0.14 & 0.03 & 0.03 &     0.30 &  0.03 & 0.03 & 0.03 & 0.24 & 0.03 & 0.03 & 0.03 \\
   GDP\_2nd &  0.09 & 0.05 & 0.25 &     0.09 &  0.03 & 0.04 & 0.08 & 0.10 & 0.03 & 0.02 & 0.05 \\
   GDP\_3rd &  0.16 & 0.03 & 0.08 &     0.07 &  0.03 & 0.05 & 0.03 & 0.25 & 0.03 & 0.03 & 0.04 \\
   GDP\_4th &  0.15 & 0.04 & 0.10 &     0.10 &  0.04 & 0.03 & 0.03 & 0.21 & 0.03 & 0.03 & 0.03 \\
    dQ\_1st &  0.11 & 0.03 & 0.03 &     0.42 &  0.03 & 0.04 & 0.04 & 0.09 & 0.03 & 0.03 & 0.05 \\
    dQ\_2nd &  0.08 & 0.07 & 0.18 &     0.14 &  0.03 & 0.03 & 0.11 & 0.06 & 0.03 & 0.02 & 0.11 \\
   LIS\_1st &  0.07 & 0.04 & 0.10 &     0.03 &  0.03 & 0.37 & 0.09 & 0.05 & 0.04 & 0.03 & 0.14 \\
GINI\_I\_1st &  0.14 & 0.03 & 0.06 &     0.04 &  0.35 & 0.11 & 0.06 & 0.07 & 0.03 & 0.03 & 0.09 \\
GINI\_I\_2nd &  0.10 & 0.03 & 0.11 &     0.04 &  0.09 & 0.08 & 0.11 & 0.22 & 0.03 & 0.03 & 0.11 \\
GINI\_W\_1st &  0.47 & 0.03 & 0.04 &     0.03 &  0.18 & 0.08 & 0.03 & 0.05 & 0.03 & 0.03 & 0.05 \\
GINI\_W\_2nd &  0.26 & 0.03 & 0.05 &     0.04 &  0.06 & 0.07 & 0.03 & 0.22 & 0.03 & 0.03 & 0.05 \\
     U\_1st &  0.12 & 0.04 & 0.12 &     0.03 &  0.03 & 0.04 & 0.11 & 0.11 & 0.03 & 0.03 & 0.26 \\
     U\_2nd &  0.21 & 0.04 & 0.16 &     0.05 &  0.03 & 0.04 & 0.08 & 0.12 & 0.03 & 0.02 & 0.13 \\
    dI\_1st &  0.05 & 0.04 & 0.22 &     0.24 &  0.03 & 0.04 & 0.03 & 0.07 & 0.03 & 0.03 & 0.06 \\
    dC\_1st &  0.25 & 0.03 & 0.06 &     0.05 &  0.03 & 0.08 & 0.05 & 0.17 & 0.02 & 0.03 & 0.06 \\
 bankr\_1st &  0.12 & 0.04 & 0.19 &     0.06 &  0.03 & 0.06 & 0.10 & 0.13 & 0.05 & 0.05 & 0.20 \\
  LP\_g\_1st &  0.04 & 0.03 & 0.05 &     0.51 &  0.03 & 0.03 & 0.05 & 0.06 & 0.03 & 0.03 & 0.08 \\
  EE\_g\_1st &  0.06 & 0.02 & 0.10 &     0.13 &  0.03 & 0.03 & 0.06 & 0.07 & 0.02 & 0.03 & 0.12 \\
  EF\_g\_1st &  0.06 & 0.03 & 0.10 &     0.13 &  0.02 & 0.04 & 0.07 & 0.07 & 0.02 & 0.03 & 0.12 \\
    em2030 &  0.17 & 0.03 & 0.04 &     0.19 &  0.03 & 0.04 & 0.03 & 0.32 & 0.03 & 0.03 & 0.03 \\
    em2040 &  0.13 & 0.03 & 0.04 &     0.22 &  0.03 & 0.04 & 0.03 & 0.35 & 0.03 & 0.03 & 0.03 \\
    em2050 &  0.11 & 0.03 & 0.03 &     0.27 &  0.02 & 0.04 & 0.03 & 0.28 & 0.03 & 0.03 & 0.03 \\
\bottomrule
\end{tabular}